<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Moriarty Decor</title>
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C600%7CLibre+Baskerville%3A400%2C400italic%2C700&#038;subset=latin%2Clatin-ext&#038;ver=4.9.7' type='text/css' media='all' />
  <link rel='stylesheet' href='vendor/fontello-embedded.css' type='text/css' media='all' />


  <link rel='stylesheet' href='{{ site.baseurl }}/vendor/style.css' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ site.baseurl }}/vendor/lightgallery.min.css' type='text/css' media='all' />
</head>

<body class="home page-template-default page page-id-2 custom-background frontpage body_tag scheme_default body_style_wide  is_stream sidebar_hide expand_content remove_margins header_style_header-custom-27 header_position_default menu_style_top no_layout wpb-js-composer js-comp-ver-5.4.5 vc_responsive">


  <div class="body_wrap">

    <div class="page_wrap">

      <header class="top_panel top_panel_custom top_panel_custom_27 top_panel_custom_header-fullwidth without_bg_image scheme_default">
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="sc_layouts sc_layouts_default sc_layouts_675">
                  <div class="vc_row wpb_row vc_row-fluid vc_custom_1493718643021 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex sc_layouts_row sc_layouts_row_type_compact sc_layouts_row_delimiter sc_layouts_row_fixed">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="sc_layouts_item" style="display: block"><a href="#" id="sc_layouts_logo_580039739" class="sc_layouts_logo sc_layouts_logo_default"><img class="logo_image" src="/img/logo.svg" alt="" width="181" height="45"></a>
                            <!-- /.sc_layouts_logo -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-9 vc_col-sm-offset-0 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="sc_layouts_item sc_layouts_hide_on_mobile sc_layouts_hide_on_tablet">
                            <div id="sc_layouts_iconed_text_2437177" class="sc_layouts_iconed_text hide_on_tablet hide_on_mobile">
                              <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-untitled-1"></span>
                              <span class="sc_layouts_item_details sc_layouts_iconed_text_details">
                                <span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">
                                  <a href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1494231580857 vc_row-has-fill sc_layouts_row sc_layouts_row_type_normal sc_layouts_hide_on_frontpage scheme_dark">
          <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div id="sc_content_270102519" class="sc_content sc_content_default sc_float_center sc_content_width_1_1">
                  <div class="sc_content_container">
                    <div id="sc_layouts_title_1011769383" class="sc_layouts_title">
                      <div class="sc_layouts_title_title">
                        <h1 class="sc_layouts_title_caption">Home</h1>
                      </div>
                      <div class="sc_layouts_title_breadcrumbs"></div>
                    </div>
                    <!-- /.sc_layouts_title -->
                  </div>
                </div>
                <!-- /.sc_content -->
              </div>
            </div>
          </div>
        </div>
      </header>

      {{ content }}

    </div>

    <footer class="footer_wrap footer_custom footer_custom_16 footer_custom_prorange-footer scheme_dark">
      <div class="vc_row wpb_row vc_row-fluid vc_custom_1493725048573 vc_row-has-fill sc_layouts_row sc_layouts_row_type_normal scheme_dark">
        <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="sc_content_1871689345" class="sc_content sc_content_default sc_float_center sc_content_width_1_1">
                <div class="sc_content_container">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_text wpb_content_element">
                            <div class="widget widget_text">
                              <h2 class="widgettitle">Contact</h2>
                              <div class="textwidget">
                                <div>
                                  <a href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
                                </div>
                                <div>
                                  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="vc_empty_space  height_medium" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="sc_layouts_item">
                            <div id="widget_contacts_858175770" class="widget_area sc_widget_contacts vc_widget_contacts wpb_content_element">
                              <aside id="widget_contacts_858175770_widget" class="widget widget_contacts">
                                <div class="contacts_wrap">
                                  <h2 class="widgettitle">Moriarty Decor</h2>
                                  <div class="contacts_description">
                                    <p>
                                    Excellent customer service and professional workmanship at a competitive price
                                    </p>
                                    <p>
                                    All work backed by full liability insurance
                                    </p>
                                  </div>
                                  <div class="contacts_socials socials_wrap">
                                    <a target="_blank" href="https://www.facebook.com/moriartydecor" class="social_item social_item_style_icons social_item_type_icons">
                                      <span class="social_icon social_facebook"><span class="icon-facebook"></span></span>
                                    </a>
                                  </div>
                                </div>
                              </aside>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3 sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left">
                      <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_text wpb_content_element">
                            <div class="widget widget_text">
                              <h2 class="widgettitle">Operating Area</h2>
                              <div class="textwidget">
                                <div>
                                  All sizes of project across the UK.
                                </div>
                                Office: Medway Close, Wilmslow, Cheshire, SK9
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_empty_space  height_medium hide_on_mobile" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="vc_row-full-width vc_clearfix"></div>
    </footer>
    </div>
    </div>

    <script src="{{ site.baseurl }}/vendor/lightgallery.min.js" charset="utf-8"></script>
    <script>
      lightGallery(document.getElementById('lightgallery'), {thumbnail: true});
    </script>
</body>
</html>
